<html>
  <body>
    <p>Upload a file</p>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="file1">
      <input type="submit" value="Upload">
    </form>
  </body>
</html>
