<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{$title}}Minitwit{{/title}}</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <nav>
      <strong><a class="nav-link" href="/">Minitwit</a></strong>
{{#user}}
      <a class="nav-link" href="/public">Public</a>
      <a class="nav-link" href="/logout">Logout</a>
{{/user}}
{{^user}}
      <a class="nav-link" href="/login">Login</a>
      <a class="nav-link" href="/register">Register</a>
{{/user}}
    </nav>
{{#error}}
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
{{/error}}
    <main>
{{$content}}
    <p>Default content.</p>
{{/content}}
    </main>
  </body>
</html>