{{<layout}}
{{$title}}Home{{/title}}
{{$content}}
{{#user}}
<div class="message">
  <a href="/{{user.handle}}"><img src="{{user.gravatarUrl}}" class="avatar"></a>
  <form action="/addmessage" method="POST">
    <input type="hidden" name="csrf" value="{{csrf}}">
    <input type="text" name="text" placeholder="Say something..." required autofocus>
    <input type="submit" value="Share">
  </form>
</div>
{{/user}}
{{#messages}}
<div class="message">
  <a href="/{{user.handle}}"><img src="{{user.gravatarUrl}}" class="avatar"></a>
  <strong><a href="/{{user.handle}}">{{user.handle}}</a></strong>
  {{text}}
  <div class="clearfix"></div>
</div>
{{/messages}}
{{/content}}
{{/layout}}