{{<master}}
{{$title}}Home{{/title}}
{{$content}}
{{#props.user}}
<form action="/addmessage" method="POST">
  <input type="hidden" name="csrf" value="{{props.csrf}}">
  <div class="input-group">
    <input type="text" name="text" class="form-control" placeholder="Say something...">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button">Share</button>
    </span>
  </div>
</form>
<hr>
{{/props.user}}
{{#props.messages}}
<div class="message">
  <img src="{{user.gravatarUrl}}" class="avatar rounded-circle float-left">
  <strong><a href="/u/{{user.handle}}">{{user.handle}}</a></strong>
  {{text}}
  <div class="clearfix"></div>
</div>
{{/props.messages}}
{{/content}}
{{/master}}