{{<master}}
{{$title}}Edit Owner{{/title}}
{{$content}}
<h3>Edit Owner</h3>
<form method="POST">
  <div class="row">
    <label for="name">Name</label>
    <input id="name" name="name" class="u-full-width" type="text" placeholder="Name" value="{{props.owner.name}}">
  </div>
  <div class="row">
    <label for="address">Address</label>
    <input id="address" name="address" class="u-full-width" type="text" placeholder="Address" value="{{props.owner.address}}">
  </div>
  <div class="row">
    <label for="city">City</label>
    <input id="city" name="city" class="u-full-width" type="text" placeholder="City" value="{{props.owner.city}}">
  </div>
  <div class="row">
    <label for="telephone">Telephone</label>
    <input id="telephone" name="telephone" class="u-full-width" type="tel" placeholder="Telephone" value="{{props.owner.telephone}}">
  </div>
  <input class="button-primary" type="submit" value="Submit">
</form>
{{/content}}
{{/master}}