{{<master}}
{{$title}}Edit Owner{{/title}}
{{$content}}
<h2>Edit Owner</h2>
<form method="POST">
<table class="table-border">
  <tr>
    <td><label for="name">Name</label></td>
    <td><input id="name" name="name" type="text" placeholder="Name" value="{{props.owner.name}}" required></td>
  </tr>
  <tr>
    <td><label for="address">Address</label></td>
    <td><input id="address" name="address" type="text" placeholder="Address" value="{{props.owner.address}}" required></td>
  </tr>
  <tr>
    <td><label for="city">City</label></td>
    <td><input id="city" name="city" type="text" placeholder="City" value="{{props.owner.city}}" required></td>
  </tr>
  <tr>
    <td><label for="telephone">Telephone</label></td>
    <td><input id="telephone" name="telephone" type="tel" placeholder="Telephone" value="{{props.owner.telephone}}" required></td>
  </tr>
  <tr>
    <td colspan="2">
      <input type="submit" value="Submit">
    </td>
  </tr>
</table>
</form>
{{/content}}
{{/master}}