{{<master}}
{{$title}}New Owner{{/title}}
{{$content}}
<h3>New Owner</h3>
<form method="POST">
  <div class="row">
    <label for="name">Name</label>
    <input id="name" name="name" class="u-full-width" type="text" placeholder="Name">
  </div>
  <div class="row">
    <label for="address">Address</label>
    <input id="address" name="address" class="u-full-width" type="text" placeholder="Address">
  </div>
  <div class="row">
    <label for="city">City</label>
    <input id="city" name="city" class="u-full-width" type="text" placeholder="City">
  </div>
  <div class="row">
    <label for="telephone">Telephone</label>
    <input id="telephone" name="telephone" class="u-full-width" type="tel" placeholder="Telephone">
  </div>
  <input class="button-primary" type="submit" value="Submit">
</form>
{{/content}}
{{/master}}