{{<master}}
{{$title}}New Owner{{/title}}
{{$content}}
<h2>New Owner</h2>
<form method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" class="form-control" type="text" placeholder="Name" required>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input id="address" name="address" class="form-control" type="text" placeholder="Address" required>
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input id="city" name="city" class="form-control" type="text" placeholder="City" required>
  </div>
  <div class="form-group">
    <label for="telephone">Telephone</label>
    <input id="telephone" name="telephone" class="form-control" type="tel" placeholder="Telephone" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{/content}}
{{/master}}