{{<master}}
{{$title}}Search Results{{/title}}
{{$content}}
<h2>Owners</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Telephone</th>
    </tr>
  </thead>
  <tbody>
{{#owners}}
    <tr>
      <td><a href="{{url}}">{{name}}</a></td>
      <td>{{address}}</td>
      <td>{{city}}</td>
      <td>{{telephone}}</td>
    </tr>
{{/owners}}
  </tbody>
</table>
{{/content}}
{{/master}}