{{<master}}
{{$title}}Owner{{/title}}
{{$content}}
<h2>{{props.owner.name}}</h2>
<dl>
    <dt>Name</dt>
    <dd>Value</dd>
</dl>
<table class="table-border">
  <tbody>
    <tr>
      <td>Address</td>
      <td>{{props.owner.address}}</td>
    </tr>
    <tr>
      <td>City</td>
      <td>{{props.owner.city}}</td>
    </tr>
    <tr>
      <td>Telephone</td>
      <td>{{props.owner.telephone}}</td>
    </tr>
  </tbody>
</table>

<a href="{{props.owner.url}}/edit">Edit Owner</a>

<hr>

<h2>Pets</h2>

<table class="table-border">
  <tbody>
{{#props.owner.pets}}
    <tr>
      <td>
        <table>
          <tr><td class="table-key">Name</td><td>{{name}} (<a href="#">edit</a>)</td></tr>
          <tr><td class="table-key">Birth Date</td><td>{{birthDate}}</td></tr>
          <tr><td class="table-key">Type</td><td>{{petType}}</td></tr>
        </table>
      </td>
      <td>
        <table>
{{#visits}}
          <tr>
            <td>{{date}}</td>
            <td>{{name}}</td>
          </tr>
{{/visits}}
        </table>
      </td>
    </tr>
{{/props.owner.pets}}
  </tbody>
</table>

<a href="{{props.owner.url}}/edit">New pet</a>

{{/content}}
{{/master}}