{{<master}}
{{$title}}Search{{/title}}
{{$content}}
<h2>Find Owners</h2>
<form action="/owners">
  <input name="q" type="text" placeholder="Name">
  <input class="button-primary" type="submit" value="Submit">
</form>
<hr>
<a class="button" href="/owners/new">New Owner</a>
{{/content}}
{{/master}}