{{<master}}
{{$title}}Veterinarians{{/title}}
{{$content}}
<h2>Veterinarians</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Specialty</th>
    </tr>
  </thead>
  <tbody>
{{#vets}}
    <tr>
      <td>{{name}}</td>
      <td>{{specialty}}</td>
    </tr>
{{/vets}}
  </tbody>
</table>
{{/content}}
{{/master}}